services:
  redis:
    container_name: redis1
    image: docker.arvancloud.ir/redis:7.4.1-alpine
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - main_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3

  db:
    container_name: GSEDB
    image: docker.arvancloud.ir/postgres:17
    restart: always
    env_file:
      - .env
    networks:
      - main_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: app
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: app:latest
    volumes:
      - app_data:/app
      - statics:/app/static
    env_file:
      - .env
    restart: always
    networks:
      - main_network
    expose:
      - 8000
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  web:
    container_name: gse_nginx
    image: docker.arvancloud.ir/nginx:trixie-perl
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/gse.conf:/etc/nginx/conf.d/default.conf/:ro
      - statics:/app/static:ro
    networks:
      - main_network
    ports:
      - "80:80"
    depends_on:
      app:
        condition: service_started

  celery:
    container_name: celery_worker
    image: app:latest
    entrypoint: celery -A core worker -l INFO
    volumes:
      - app_data:/app
    env_file:
      - .env
    depends_on:
      - redis
      - app
    restart: always
    networks:
      - main_network
    environment:
      - C_FORCE_ROOT="true"

  celery_beat:
    container_name: celery_beat
    image: app:latest
    entrypoint: celery -A core beat --loglevel=info
    volumes:
      - app_data:/app
    env_file:
      - .env
    depends_on:
      - redis
      - app
      - celery
    restart: always
    networks:
      - main_network

volumes:
  app_data:
  redis_data:
  postgres_data:
  statics:

networks:
  main_network:
    driver: bridge